<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/about.css" />
    <title>About</title>
  </head>
  <body>
    <header>
      <div class="logo">Lakshita <span>Vyas</span></div>
      <nav>
        <a href="index.html">Home</a>
        <a href="about.html">About</a>
        <a href="skills.html">Skills</a>
      </nav>
    </header>
    <main>
      <section class="about-section">
        <h1>About Me</h1>
        <p>
          I am a passionate data analyst and software developer with expertise
          in Python programming, machine learning, and data visualization. I
          thrive on building innovative solutions that solve real-world
          problems.
        </p>
        <p>
          With hands-on experience in developing and analyzing data-driven
          applications, I am committed to continuous learning and growth in the
          ever-evolving tech landscape.
        </p>
      </section>
    </main>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
      AOS.init({
        offset: 0,
        duration: 800, // Reduce animation duration
        easing: "ease-in-out",
      });
    </script>
    <script src="/static/script.js"></script>
  </body>
</html>
