<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/skills.css" />
    <title>Skills</title>
  </head>
  <body>
    <header>
      <div class="logo">Lakshita <span>Vyas</span></div>
      <nav>
        <a href="index.html">Home</a>
        <a href="about.html">About</a>
        <a href="skills.html">Skills</a>
      </nav>
    </header>
    <main>
      <section class="skills-section">
        <h1>My Skills</h1>
        <div class="skills-container">
          <div class="skill-card">
            <h2>Python</h2>
            <p>
              Expert in Python programming with a focus on data analysis and
              machine learning.
            </p>
          </div>
          <div class="skill-card">
            <h2>Data Analysis</h2>
            <p>
              Experienced in analyzing and visualizing data using tools like
              Pandas, NumPy, and Matplotlib.
            </p>
          </div>
          <div class="skill-card">
            <h2>Machine Learning</h2>
            <p>
              Hands-on experience with machine learning frameworks such as
              Scikit-learn and TensorFlow.
            </p>
          </div>
          <div class="skill-card">
            <h2>Web Development</h2>
            <p>
              knowledgeable in building responsive websites using HTML, CSS, and
              JavaScript.
            </p>
          </div>
          <div class="skill-card">
            <h2>SQL</h2>
            <p>
              Proficient in writing complex SQL queries, optimizing database
              performance, and managing relational databases for efficient data
              handling.
            </p>
          </div>
        </div>
      </section>
    </main>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
      AOS.init({
        offset: 0,
        duration: 800, // Reduce animation duration
        easing: "ease-in-out",
      });
    </script>
    <script src="/static/script.js"></script>
  </body>
</html>
